
#LM{
    height: 225px;
    margin: 2px;
}
#io{
    text-align:center ;
    font-size: 28px;
    font-weight: 900;
    color: white;

}
#ftg{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: white;
}
p{
    text-align: center;
}
#fgh{
    border-radius: 14%;
    height: 35px;
    width: 120px;
    font-weight: 900;
    font-size: 15px;
}
#oop{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: white;
}
body{
    background-color: black;
}